.container{
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    padding-block: 80px;
    border-bottom:  1px solid #E0E6E3;
}

.cnt_desc{
    padding-block: 40px;
    display: flex;
    flex-direction: column;
    row-gap:20px;
}

.mission{
    background-color: #fe9e6b86;
    max-width: fit-content;
    border-radius: 5px;
}

.about-img,
.byd-img{
    border-radius: 12px;
    max-width: 45%;
}

/***********Value*************/

.container h2{
    margin-top: 40px;
    min-width: 40%;
}

.value1{
    list-style-image: url(/images/arrow-right.svg);
}

.value1 li{
    margin-top: 40px;
}

.value1 h3{
    margin-bottom: 10px;
}

/*******beyond the plate *******/

.byd-img{
    max-width:55%;
}

.cnt_desc h2{
    min-width: max-content;
    margin: 0;
}

.cnt_desc ul{
    margin-left: 30px;
}

.cnt_desc li{
    margin-block: 15px;
}